@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.width {
  max-width: 1440px;
  margin: 0 auto;
}

.margin {
  margin-top: 130px;
}

.flex {
  display: flex;
}

.text-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: rgba(19, 19, 19, 1);
}

.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}

.dark-01 {
  color: rgba(19, 19, 19, 1);
  font-weight: 700;
  font-size: 2.8rem;
}

.dark-1 {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(19, 19, 19, 1);
}
.dark-03 {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(114, 114, 114, 1);
}

.btn-primary {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background-color: #ff900e;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
}

.font-color{
  color: darkred;

}

.card-title{
  padding: 5px 5px;
}

/* 1st part */

/* nav styles */

nav {
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  list-style: none;
  gap: 20px;
}

.list-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  color: steelblue;
}

/* banner related styles */

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-content {
  max-width: 860px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-description {
  margin: 32px 0;
}

.banner-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}

/* section 1 - (quick list of our features) */

.team-features {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 85px;
  gap: 75px;
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 8px;
}

.quick-li {
  font-weight: 500;
  font-size: 2.8rem;
  color: rgba(114, 114, 114, 1);
}

.features {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ff900e;
}

/* second-section (features love & enjoy )*/

.features-activities {
  display: flex;
  gap: 145px;
}

#feature-feelings {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

/* cards styles */

.box {
  max-width: 586px;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 30px 42px 30px 30px;
  margin-bottom: 20px;
}

.dimension{
  width: 580px;
  height: 250px;
  overflow: auto;
  overflow-x: hidden;
  padding: 5px 20px;
}

.feelings-btn {
  width: 342px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 144, 14, 1);
  color: #ffffff;
  border: none;
  margin-top: -100px;
  margin-left: -100px;
}

.decade {
  font-weight: 700;
  font-size: 4rem;
}

.expe {
  font-weight: 500;
  font-size: 1.5rem;
}

.feature-feelings-img {
  border-radius: 10px;
}

/* 3rd section */

.facts-description {
  margin-top: 24px;
  margin-bottom: 100px;
}

.facts-container {
  display: flex;
  justify-content: center;
  gap: 124px;
  margin-top: 104px;
  margin-bottom: 180px;
}

.facts-card {
  border: 2px solid #ff900e;
  width: 240px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.5s ease;
}

.facts-card:hover{
  transform: scale(1.2);
}

.facts-element{
  padding: 35px 40px;
  width: 160px;
}

.facts-number {
  font-weight: 600;
  font-size: 2.8rem;
  color: rgba(66, 66, 66, 1);
  margin: 5px 0;
}

.facts-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgba(114, 114, 114, 1);
}

/* 4th section */

.our-sponsors {
  text-align: center;
}

.sponsors-title {
  margin-bottom: 24px;
}

.sponsor-images {
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 130px;
}

.sponsors-company{
  transition: 0.8s ease;
}
.sponsors-company:hover{
  transform: rotate(2deg) scale(1.50);
}

/* footer */

footer {
  border-radius: 10px;
}

footer > p {
  text-align: center;
  padding: 40px 0;
  font-weight: 400;
  font-size: 1.25rem;
  color: darkred;
}

.ft-margin {
  margin-bottom: 210px;
}

/* hover effect */

/* nav & banner */

.list-link {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-link:hover {
  background-color: powderblue;
  border-radius: 8px;
}

/* button */

.btn-primary {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-primary:hover{
  background-color: darkgreen;
  border-radius: 20px;
}

/* sponsors */

/* some facts */



/* responsive for small devices */

@media screen and (max-width: 576px) {
  /* navbar related */

  nav {
    flex-direction: column;
  }

  .nav-title {
    color: darkred;
  }

  nav > ul {
    flex-direction: column;
  }

  /* first section */

  .team-features {
    flex-direction: column;
  }

  .team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image {
    width: 100%;
  }

  .feature-btn {
    margin-left: 100px;
  }

  /* second section */

  .features-activities {
    flex-direction: column;
  }

  .feature-feelings-img {
    width: 100%;
  }

  .feelings-btn {
    text-align: center;
    margin: 0 auto;
    width: 280px;
    height: 120px;
    margin-top: -50%;
  }

  /* 3rd section */

  .facts-container {
    flex-direction: column;
  }

  .dimension{
    width: auto;
  }

  .facts-card{
    margin-left: 40px;
  }

  /* 4th section */

  .sponsor-images {
    flex-direction: column;
    text-align: center;
  }

  .sponsors-company{
    margin-bottom: 40px;
    transition: 1s;
  }
  .sponsors-company:hover{
    transform: rotate(2deg) scale(1.25);
  }
 
  /* footer */

  .ft-margin {
    margin-bottom: 50px;
  }


/* responsive for medium devices */

@media screen and (min-width: 576px) and (max-width: 990px) {
  /* navbar */

  nav {
    flex-direction: column;
  }

  /* first section */

  .team-features {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .team-img {
    gap: 85px;
  }

  /* second section */

  .dimension{
    width: 90%;
  }

  .feelings-btn {
    text-align: center;
    margin-left: 30px;
    width: 280px;
    height: 120px;
    margin-top: -50%;
  }

  /* 3rd section */

  .facts-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: 0 20px;
  }

  .facts-element{
   
  }

  .facts-description {
    width: 540px;
  }


  /* 4th section */

  .our-sponsors {
    margin-top: 100px;
  }
  .sponsor-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
  }

  

  /* footer */

  .ft-margin {
    margin-bottom: 50px;
  }
}